*{
margin: 0;
padding: 0;
}
header{
background-color: DarkCyan;
padding: 45px;
text-align: center;
font-size: 30px;
}
.home{
float: right;
}
.btn1{
font-size:16px;
color:#fff;
padding:14px 16px;
text-align:center;
text-decoration: none;
margin-top: -40px;
background:transparent;




}
fieldset{
background-color: #eeeee;
padding: 80px 100px 150px;
margin-top:50px;
}
legend{
background-color: #5555;
color:#fff;
padding: 5px 10px;
font-size:40px;
}
.inst{
margin-top: -55px;
font-size: 18px;
}
#check{
margin-top: 50px;
}
.btn2{
font-size:30px;
color:#fff;
padding:14px 16px;
text-align:right;
text-decoration: none;
float:right;
background:LightSlateGray;
}