*{
	margin: 0;
	padding:0;
	color:white;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/4.jpg);
	height:100vh;
	background-size:cover;
	background-position: center;
}
.title h1{
	color:white;
	font-size:50px;
	float:left;
	font-family: Gabriola;
	margin-top:100px;
	margin-left:150px;
}
.container {
	font-size:25px;
	float:left;
	font-family:Gabriola;
	margin-top:200px;
	margin-left:-260px;
}
/*
<button class="button">Take Test</button>

.button {
	position:absolute;
	top:65%;
	left:30%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #004466;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #006699;
}

.button:hover {background-color: #00334d}

.button:active {
  background-color: #006699;
  box-shadow: 0 5px #000;
  transform: translateY(4px);
}*/

.button {
	position:absolute;
	top:65%;
	left:30%;
  border-radius: 4px;
  background-color: #004466;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
	font-family: Cambria;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 50px;
	margin-right:50px;
}
ul li{
	display: inline-block;
	font-family: Comic Sans MS;
	font-size:18px;
}

ul li a{
	text-decoration: none;
	padding: 5px 20px;
	border: 1px solid white;
	transition: 0.6s ease;
}
ul li a:hover{
	border: 1px red;
	border-radius: 12px;
	background-color: #fff;
	color: #000;
}